* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.margin-top-40 {
    margin-top: 40px;
}


.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

body {
    background: #34495e;
    color: #ecf0f1;
    font-family: 'Quicksand', sans-serif;
}

nav {
    background: #2c3e50;
}

nav a {
    color: #f1c40f;
    text-decoration: none;
}

nav a {
    padding: 5px;
}

nav a.logo h1 {
    padding-left: 15px;
}

.container {
    position: relative;
    z-index: 1;
    height: 100%;
}

.container::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('img/maxresdefault.jpg') center center fixed no-repeat;
    opacity: 0.1;
    background-size: cover;
}

.container .welcome {
    text-align: center;
}

.input-box {
    outline: none;
    padding: 20px;
    width: 50%;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    color: #000;
}

.btn-search {
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    background: #c0392b;
    color: #fff;
}

.btn-search:hover {
    background: #e74c3c;
    cursor: pointer;
}

.btn-search:focus {
    outline: none;
}

.movie-details .col-4 {
    position: relative;
}

.movie-details h1 {
    font-style: italic;
}

.posterImg {
    width: 100%;
    height: auto;
    right: 0;
    border-radius: 10px;
}

ul.details {
    list-style: none;
}

ul.details li {
    float: left;
    border-right: 1px solid #ecf0f1;
    padding: 0 5px;
    font-size: 0.85rem;
}

ul.details li:last-child {
    border-right: none;
}

.directors {
    clear: both;
}

.director,
.writer,
.actors,
.plot {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {}